body {
  text-align: center;
  background-image: url("./components/background01.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
/* ----------Navbar Styling---------- */
nav {
  height: 60px;
  width: 100%;
  display: flex;
  justify-content: right;
}
#navbar-items {
  height: 100%;
  width: 200px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#profile-image {
  border-radius: 20px;
  height: 40px;
  width: 40px;
}
a {
  color: white;
  text-decoration-line: none;
}

/* ------------Body Styling------------ */

.body-items {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 40px;
}
#heading {
  font-size: 80px;
  font-family: "Times New Roman", Times, serif;
  width: 40%;
  height: 30%;
  color: white;
}
input {
  border: none;
  height: 42px;
  width: 448.8px;
}
#input {
  height: 44px;
  width: 561px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
#search-logo {
  width: 17px;
  height: 17px;
  border-radius: 30px;
  padding-right: 10px;
}
#voice-logo {
  width: 17px;
  height: 17px;
  border-radius: 30px;
  padding-left: 10px;
}
#add {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
#add-button {
  width: 50%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  font-size: 30px;
  font-weight: 200;
  color: gray;
  background-color: white;
}

/* ------------Footer Styling------------ */

#bottom {
  margin-top: 80px;
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: space-between;
}
#edit {
  width: 25px;
  height: 25px;
  display: flex;
  border-radius: 30px;
  align-items: center;
}
.link {
  width: 220px;
  color: white;
  height: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
}
/* ------------Media Queries------------ */
@media(max-width:600px){
  nav{
    display: flex;
    justify-content: center;

  }
  #heading{
    display: flex;
    justify-content: center;
    font-size: 50px;
    font-family: "Times New Roman", Times, serif;
    width: auto;
    height: auto;
    color: white;
  }
  #add{
    display: flex;
    justify-content: center;
  }
  input {
    border: none;
    height: 32px;
    width: auto;
  }
  #input{
    width: 300px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  #bottom{
    margin: 0%;
  }
  #bottom:nth-child(1){
    flex-grow: 1;
  }
  #bottom:nth-child(2){
    flex-grow: 1;
  }
}
@media(max-width:200px){
  #heading{
    display: flex;
    justify-content: center;
    font-size: 20px;
    padding-top: 40px;
    font-family: "Times New Roman", Times, serif;
    width: auto;
    height: auto;
    color: white;
  }
  input {
    border: none;
    height: 22px;
    width: 100px;
  }
  #input{
    width: 150px;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
  #navbar-items {
    height: 130px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  #bottom{
    /* margin-top: 80px; */
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
  }
  .link {
    width: 100px;
    color: white;
    height: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media(max-width:100px){
  input {
    border: none;
    height: 22px;
    width: 40px;
  }
  #input{
    width: 70px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}
@media(max-width:50px){
  input {
    border: none;
    height: 12px;
    width: 20px;
  }
  #input{
    width: 30px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
  }
}